name: Front_CI_CD_BUILD_CONFLICT_CHECK

on:
  push:

jobs:
  build:
    runs-on: ubuntu-20.04
    if: github.repository != 'PhantomOfLINUX/POL_Front' || (github.repository == 'PhantomOfLINUX/POL_Front'&& github.ref != 'refs/heads/main' && github.ref != 'refs/heads/develop')

    steps:
      - name: git code checkout
        uses: actions/checkout@v3

      - name: Cache Node.js modules
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            **/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Make env file
        run: |
          echo "${{ secrets.ENV_PROPERTIES }}" > ".env"
          cat .env

      - name: docker setup
        uses: docker/setup-buildx-action@v3

      - name: docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_ORGNIZATIONS }}/pol-front-develop:${{ github.sha }}
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_ORGNIZATIONS }}/pol-front-develop:cache
          cache-to: type=inline

  merge_conflict_job:
    runs-on: ubuntu-latest
    if: github.repository != 'PhantomOfLINUX/POL_Front' || (github.repository == 'PhantomOfLINUX/POL_Front'&& github.ref != 'refs/heads/main' && github.ref != 'refs/heads/develop')

    name: Find merge conflicts
    steps:
      - uses: actions/checkout@v2
      - name: Merge Conflict finder
        uses: olivernybroe/action-conflict-finder@v4.0
